.container {
  height: 600px;
  width: 600px;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.planet {
  display: flex;
  flex-wrap: wrap;
  border-color: #282c34;
  transform: 
  rotateX(var(--planet-x-angle))
  rotateZ(var(--planet-z-angle))
  translateZ(55px)
  scale(1.3);
  transform-style: preserve-3d;
  transition: background-color 2s ease, transform 0.5s cubic-bezier(0, 0.76, 0.44, 1.33);
  will-change: transform;
  background-color: transparent;
}

.planet.sunRight::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-position: 200%;
}

.planet.sunRight.lightedUp::before {
  opacity: 1;
  transition: opacity 2s ease-out;
  background: linear-gradient(to left, #eaec58 -39%, #cdc9cd 57%);
}

.planet.sunDown.lightedUp {
  background: linear-gradient(to top, #eaec58 -39%, #cdc9cd 57%);
}

.planet.sunUp.lightedUp {
  border-top-color: yellow;
  background: linear-gradient(to bottom, #eaec58 -39%, #cdc9cd 57%);
}

.planet.sunLeft.lightedUp {
  background: linear-gradient(to right, #eaec58 -39%, #cdc9cd 57%);
}