body {
  --shadowAngle: 0deg;
}

* {
  margin: 0;
  padding: 0;
}

h1 {

}

.gradient {
  background: linear-gradient(to left, #c7ec2f 0%,#fefefe 55%);
  position: absolute;
  z-index: 0;
  width: 100vw;
  height: 100vw;
  transform: rotate(calc(var(--shadowAngle)));
  opacity: 0;
}

.lightedUp .gradient {
    opacity: 0.10;
    transition: transform 0.3s ease-in, opacity 1s ease-in;
}

.App {
  text-align: center;
  background-color: #fefefe;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #282c34l;
}

header {
  text-align: left;
  width: 600px;
  margin-top: 50px;
  margin-bottom: 26px;
  display: flex;
  position: relative;
  z-index: 1;
}

header .button__holder {
  margin-left: auto;
}

header button {
  margin-left: auto;
  padding: 10px 20px;
  border: none;
  font-size: 15px;
  border-radius: 3px;
  margin-top: 20px;
}

.board-holder {
  height: 600px;
  width: 600px;
  display: flex;
  perspective: 1000px;
  perspective-origin: 50% 50%;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.planet {
  display: flex;
  flex-wrap: wrap;
  border-color: #282c34;
  /* background: url('./img/original.jpg'); */
  transform: rotateX(var(--planet-x-angle)) translateY(-20px) translateZ(120px) rotateZ(var(--planet-z-angle)) scale(1.10);
  transform-style: preserve-3d;
  transition: background-color 2s ease, transform 0.5s cubic-bezier(0, 0.76, 0.44, 1.33);
  will-change: transform;
  background-color: transparent;
}

.planet__inner {
  display: flex;
  flex-wrap: wrap;
}

.planet.sun-right::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-position: 200%;
}

.planet.sun-right.lightedUp::before {
  opacity: 1;
  transition: opacity 2s ease-out;
  background: linear-gradient(to left, #eaec58 -39%, #cdc9cd 57%);
}

.planet.sun-down.lightedUp {
  background: linear-gradient(to top, #eaec58 -39%, #cdc9cd 57%);
}

.planet.sun-up.lightedUp {
  border-top-color: yellow;
  background: linear-gradient(to bottom, #eaec58 -39%, #cdc9cd 57%);
}

.planet.sun-left.lightedUp {
  background: linear-gradient(to right, #eaec58 -39%, #cdc9cd 57%);
}

.planet .building {
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  transform-style: preserve-3d;
  width: 100%;
  height: 100px;
}

.planet .building  .building-circle {
  z-index: 2;
  width: 80px;
  height: 80px;
  background: transparent;
  border-radius: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin: auto;
  margin-top: 10px;
  position: absolute;
  transform: translateZ(2px);
  left: 10px;

}


.building--blue .building-circle, .building--red .building-circle {
  box-shadow: -8px 0px 47px rgba(0, 0, 0, 0.3);
}

.planet .building--blue .building-circle {
  background: #4a8ce9;
  border: 2px solid white;
  box-sizing: border-box;
}

.planet .building--red .building-circle {
  background: #c8773a;
  border: 2px solid white;
  box-sizing: border-box;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


input[type='range'] {
  width: 200px;
}

.controls {
  position: fixed;
  left: 0;
  top: 0;
}