* {
  margin: 0;
  padding: 0;
}

h1 {

}

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.board-holder {
  width: 605px;
  display: flex;
}

.board {
  height: 600px;
  width: 600px;
  display: flex;
  flex-wrap: wrap;
}

.sun {
  height: 600px;
  width: 5px;
  background: yellow;
}

.board .building {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  text-align: center;
}

.board .building--blue {
  background: blue;
}

.board .building--red {
  background: red;
}


.board .tile {
    width: 100px;
    height: 100px;
    border: 3px solid#282c34;
    background: white;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    color: black;
}


.board .tile--dark {
  background: #584E4E;
}

.board .tile--bright {
  background: #6fe673;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
