body {
  --shadowAngle: 0deg;
}

* {
  margin: 0;
  padding: 0;
}

h1 {

}

.App {
  text-align: center;
  background-color: #fefefe;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #282c34l;
}

header {
  text-align: left;
  width: 600px;
  margin-top: 50px;
  margin-bottom: 26px;
  display: flex;
}

header .button__holder {
  margin-left: auto;
}

header button {
  margin-left: auto;
  padding: 10px 20px;
  border: none;
  font-size: 15px;
  border-radius: 3px;
  margin-top: 20px;
}

.board-holder {
  height: 600px;
  width: 600px;
  display: flex;
  perspective: 1000px;
  perspective-origin: 50% 50%;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.planet {
  display: flex;
  flex-wrap: wrap;
  border-color: #282c34;
  /* background: url('./img/original.jpg'); */
  transform: rotateX(var(--planet-x-angle)) translateY(0) translateZ(140px) rotateZ(var(--planet-z-angle));
  transform-style: preserve-3d;
  transition: background-color 0.3s ease 2s, transform 0.5s cubic-bezier(0, 0.76, 0.44, 1.33);
  will-change: transform;
  background-color: transparent;
}

.planet__inner {
  display: flex;
  flex-wrap: wrap;
}

.planet.sun-right::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.planet.sun-right.bricksFallen::before {
  opacity: 1;
  transition: opacity 0.3s ease-in;
  transition-delay: 1s;
  background: linear-gradient(to left, #d8e1bc 1%, #777482 57%);
}

.planet.sun-down.bricksFallen {
  border-bottom-color: yellow;
  background: linear-gradient(to top, #d8e1bc 1%, #777482 57%);
}

.planet.sun-up.bricksFallen {
  border-top-color: yellow;
  background: linear-gradient(to bottom, #d8e1bc 1%, #777482 57%);
}

.planet.sun-left.bricksFallen {
  border-left-color: yellow;
  background: linear-gradient(to right, #d8e1bc 1%, #777482 57%);
}

.planet .building {
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  transform-style: preserve-3d;
  width: 100%;
  height: 100px;
}

.planet .building  .building-circle {
  z-index: 2;
  width: 80px;
  height: 80px;
  background: transparent;
  border-radius: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin: auto;
  margin-top: 10px;
  position: absolute;
  transform: translateZ(2px);
  left: 10px;
}


.planet.sun-right .building--blue .building-circle, .planet.sun-right .building--red .building-circle {
  box-shadow: -8px 0px 47px rgba(0, 0, 0, 0.3);
}

.planet.sun-down .building--blue .building-circle, .planet.sun-down .building--red .building-circle {
  box-shadow: -8px 0px 47px rgba(0, 0, 0, 0.3);
}

.planet.sun-up .building--blue .building-circle, .planet.sun-up .building--red .building-circle {
  box-shadow: -8px 0px 47px rgba(0, 0, 0, 0.3);
}

.planet.sun-left .building--blue .building-circle, .planet.sun-left .building--red .building-circle {
  box-shadow: -8px 0px 47px rgba(0, 0, 0, 0.3);
}

.planet .building--blue .building-circle, .planet .building--red .building-circle {
  box-shadow: -8px 0px 47px rgba(0, 0, 0, 0.3);
}

.planet .building--blue .building-circle {
  background: #4a8ce9;
  border: 2px solid white;
  box-sizing: border-box;
}

.planet .building--red .building-circle {
  background: #c8773a;
  border: 2px solid white;
  box-sizing: border-box;
}

.planet .building .building-shadow {
  content: '';
  position: absolute;
  height: 80px;
  background: black;
  z-index: 0;
  right: 0;
  border-radius: 80px;
  opacity: 0.25;
  transition: transform 0.5s ease-in-out;
  transition-delay: 1s;
  top: 10px;
}

.planet .building.level--1 .building-shadow {
  width: 180px;
}

.planet .building.level--2 .building-shadow {
  width: 280px;
}

.planet .building.level--3 .building-shadow {
  width: 380px;
}

.planet .building .building-shadow {
  transform: translateZ(1px) translateX(0) rotate(var(--shadowAngle));
  transform-origin: calc(100% - 40px) 40px;
  margin-right: -40px;
}

/* .planet.sun-right .building .building-shadow {
  transform: rotate(0);
  transform-origin: 141px center
}

.planet.sun-left .building .building-shadow {
  transform: rotate(180deg);
  transform-origin: 141px center
}

.planet.sun-down .building .building-shadow {
  transform: rotate(90deg);
  transform-origin: 141px center
}

.planet.sun-up .building .building-shadow {
  transform: rotate(270deg);
  transform-origin: 141px center
} */

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


input[type='range'] {
  width: 200px;
}

.controls {
  position: fixed;
  left: 0;
  top: 0;
}